@charset "UTF-8";
div.main {
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  display: grid;
  overflow: hidden;
}
div.main > .tbBaralhos {
  height: 80%;
  width: 80%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  align-self: center;
  justify-self: center;
  overflow: hidden;
}
div.main > .tbBaralhos > header {
  background-color: lightgray;
  background-color: #FFF;
  padding: 8px 4px;
  width: 100%;
  display: grid;
  gap: 5px 10px;
  grid-template-columns: min-content 1fr;
  align-items: center;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}
div.main > .tbBaralhos > header > .btnAdd {
  height: min-content;
  width: max-content;
  padding: 15px;
  display: grid;
  border: none;
  outline: 0;
  border-radius: 50%;
  animation-fill-mode: both;
  animation-duration: 400ms;
  transition: 400ms ease-out;
}
div.main > .tbBaralhos > header > .btnAdd:hover {
  background-color: #003c8c;
}
div.main > .tbBaralhos > header > .btnAdd:hover > svg {
  fill: #FFF;
}
div.main > .tbBaralhos > header > .btnAdd > svg {
  fill: #003c8c;
  height: 21px;
}
div.main > .tbBaralhos > header > .sp_tituloTable {
  color: tomato;
  font-size: 1.1rem;
  justify-self: center;
}
div.main > .tbBaralhos > main {
  display: grid;
  overflow: hidden;
  border-top: 10px solid slategray;
  border-bottom: 5px solid slategray;
}
div.main > .tbBaralhos > main > .containerTable {
  overflow: auto;
  border: 1px solid gainsboro;
  /* Works on Chrome, Edge, and Safari */
}
div.main > .tbBaralhos > main > .containerTable::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
div.main > .tbBaralhos > main > .containerTable::-webkit-scrollbar-track {
  background: rgb(235, 235, 235);
}
div.main > .tbBaralhos > main > .containerTable::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 1px solid rgb(235, 235, 235);
}
div.main > .tbBaralhos > main > .containerTable > table {
  /* Not required only for visualizing */
  border-collapse: collapse;
  width: 100%;
}
div.main > .tbBaralhos > main > .containerTable > table > caption {
  background-color: #F7F8FA;
  position: sticky;
  z-index: 100;
  top: 0;
}
div.main > .tbBaralhos > main > .containerTable > table > caption > div {
  background-color: #FFF;
  padding: 8px;
  min-height: 70px;
  display: grid;
  gap: 5px 15px;
  justify-content: start;
}
div.main > .tbBaralhos > main > .containerTable > table > caption > div > span {
  color: #F26B6B;
  font-size: 1.5rem;
  font-family: DosisLight, "Segoe UI", sans-serif;
  display: grid;
  align-items: flex-end;
}
div.main > .tbBaralhos > main > .containerTable > table > caption > div > span:nth-child(2) {
  color: #003c8c;
  font-size: 1.2rem;
  font-family: DosisLight, "Segoe UI", sans-serif;
  text-align: left;
}
div.main > .tbBaralhos > main > .containerTable > table > thead > tr > th {
  color: #707277;
  color: #003c8c;
  font-size: 0.85rem;
  font-family: "OpenSansRegular", "Segoe UI", sans-serif;
  text-align: left;
  background-color: #fff;
  padding: 5px 10px;
  position: sticky;
  top: 0px;
  white-space: nowrap;
}
div.main > .tbBaralhos > main > .containerTable > table > thead > tr > th > div {
  display: flex;
  /* justify-items: stretch; */
  align-content: center;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}
div.main > .tbBaralhos > main > .containerTable > table > thead > tr > th > div > button {
  /* width: 12px; */
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  /* height: 100%; */
  outline: 0;
  border: 0;
  transition: 0.5s;
}
div.main > .tbBaralhos > main > .containerTable > table > thead > tr > th > div > button > div {
  width: 8px;
  height: 8px;
  border-top: 2px solid transparent;
  /*tem que a mesma cor do background */
  border-bottom: 1px solid #555;
  border-right: 2px solid transparent;
  /*tem que a mesma cor do background */
  border-left: 1px solid #555;
  transform: rotate(-45deg);
  transition: 0.5s;
  cursor: default;
}
div.main > .tbBaralhos > main > .containerTable > table > tbody {
  color: #707277;
  font-size: 0.85rem;
  font-family: "OpenSansRegular", "Segoe UI", sans-serif;
}
div.main > .tbBaralhos > main > .containerTable > table > tbody > tr {
  border-bottom: 1px solid #E8E9F2;
}
div.main > .tbBaralhos > main > .containerTable > table > tbody > tr:hover {
  background-color: #E8E9F2;
  color: #8D8BB3;
  border-bottom: 1px solid #E8E9F2;
}
div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.tdActions {
  padding: 15px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  text-align: center;
}
div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.tdActions > a {
  margin: 0 15px;
  text-decoration: none;
}
div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.tdActions > a > svg {
  fill: dodgerblue;
}
div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.tdActions > button {
  background-color: rgba(0, 0, 0, 0);
  padding: 4px;
  margin: 0 15px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
}
div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.tdActions > button > svg {
  fill: red;
}
div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td {
  padding: 15px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.tdFavorito {
  padding: 15px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.tdFavorito > svg.n {
  display: grid;
  fill: #003C8C;
}
div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.tdFavorito > svg.s {
  display: none;
  fill: #003C8C;
}
div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.action {
  padding: 4px;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  display: none;
  overflow: hidden;
  white-space: nowrap;
}
div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.action > input.checkDel {
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: #fff;
  border: 1px solid darkgrey;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  position: relative;
}
div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.action > input.checkDel:checked {
  background-color: rgba(185, 186, 190, 0.231372549);
  animation: check-animation 0.3s ease-in-out;
}
div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.action > input.checkDel.checkDel:checked::after {
  content: "✔";
  font-size: 1.5rem;
  color: green;
  display: block;
  position: absolute;
  top: 30%;
  left: 73%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: check-after-animation 0.3s ease-in-out;
}
@keyframes check-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes check-after-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div.main > .tbBaralhos > main > .containerTable > table > tbody > tr > td.tbTema {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
div.main > .tbBaralhos > footer {
  background-color: #FFF;
  padding: 4px;
  display: grid;
  grid-template-columns: min-content 1fr auto;
  align-items: center;
}
div.main > .tbBaralhos > footer span.spTotal {
  color: #003C8C;
  font-size: 1rem;
  font-family: "JosefinSansRegular", "OpenSansSemiBold", "Segoe UI", sans-serif;
  letter-spacing: normal;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.main > .tbBaralhos > footer > div.pagination {
  padding: 6px 10px;
  width: 100%;
  display: grid;
  gap: 8px;
  grid-auto-flow: column;
}
div.main > .tbBaralhos > footer > div.pagination > label.in_pageSelc {
  background-color: #F0F0F0;
  padding: 2px 5px;
  height: fit-content;
  width: min-content;
  min-width: 80px;
  display: grid;
  gap: 4px;
  grid-template-columns: auto 1fr auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0);
}
div.main > .tbBaralhos > footer > div.pagination > label.in_pageSelc:hover {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.03);
}
div.main > .tbBaralhos > footer > div.pagination > label.in_pageSelc:active {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.04);
}
div.main > .tbBaralhos > footer > div.pagination > label.in_pageSelc:focus-within {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.05);
}
div.main > .tbBaralhos > footer > div.pagination > label.in_pageSelc > span {
  width: 100%;
  color: #003d8c;
  font-size: 0.9rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.main > .tbBaralhos > footer > div.pagination > label.in_pageSelc > input {
  font-size: 0.8rem;
  font-family: "DosisMedium", "Segoe UI", sans-serif;
  color: #003c8c;
  background-color: transparent;
  text-align: center;
  padding: 0.2rem 0.1rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
}
div.main > .tbBaralhos > footer > div.pagination > label.in_pageSelc > input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.8rem;
  font-family: "DosisMedium", "Segoe UI", sans-serif;
  color: #b9babe;
  color: #003c8c;
  opacity: 1;
  /* Firefox */
}
div.main > .tbBaralhos > footer > div.pagination > label.in_rowsPagLimit {
  background-color: #F0F0F0;
  padding: 2px 5px;
  height: fit-content;
  width: min-content;
  min-width: 120px;
  display: grid;
  gap: 4px;
  grid-template-columns: auto 1fr auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0);
}
div.main > .tbBaralhos > footer > div.pagination > label.in_rowsPagLimit:hover {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.03);
}
div.main > .tbBaralhos > footer > div.pagination > label.in_rowsPagLimit:active {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.04);
}
div.main > .tbBaralhos > footer > div.pagination > label.in_rowsPagLimit:focus-within {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.05);
}
div.main > .tbBaralhos > footer > div.pagination > label.in_rowsPagLimit > span {
  width: 100%;
  color: #003d8c;
  font-size: 0.9rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.main > .tbBaralhos > footer > div.pagination > label.in_rowsPagLimit > input {
  font-size: 0.8rem;
  font-family: "DosisMedium", "Segoe UI", sans-serif;
  color: #003c8c;
  text-align: center;
  background-color: transparent;
  padding: 0.2rem 0.1rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
}
div.main > .tbBaralhos > footer > div.pagination > label.in_rowsPagLimit > input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.8rem;
  font-family: "DosisMedium", "Segoe UI", sans-serif;
  color: #b9babe;
  color: #003c8c;
  opacity: 1;
  /* Firefox */
}
div.main > .tbBaralhos > footer > div.pagination > label.in_rowsAtual {
  background-color: #F0F0F0;
  padding: 2px 5px;
  height: fit-content;
  width: min-content;
  min-width: 100px;
  display: grid;
  gap: 4px;
  grid-template-columns: auto 1fr auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0);
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}
div.main > .tbBaralhos > footer > div.pagination > label.in_rowsAtual:hover {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.03);
}
div.main > .tbBaralhos > footer > div.pagination > label.in_rowsAtual:active {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.04);
}
div.main > .tbBaralhos > footer > div.pagination > label.in_rowsAtual:focus-within {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 61, 140, 0.05);
}
div.main > .tbBaralhos > footer > div.pagination > label.in_rowsAtual > span {
  width: 100%;
  color: #003d8c;
  font-size: 0.9rem;
  font-family: "DosisMedium", "OpenSansSemiBold", "Segoe UI", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.main > .tbBaralhos > footer > div.pagination > label.in_rowsAtual > input {
  font-size: 0.8rem;
  font-family: "DosisMedium", "Segoe UI", sans-serif;
  color: #003c8c;
  text-align: center;
  background-color: transparent;
  padding: 0.2rem 0.1rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  pointer-events: none;
}
div.main > .tbBaralhos > footer > div.pagination > label.in_rowsAtual > input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.8rem;
  font-family: "DosisMedium", "Segoe UI", sans-serif;
  color: #b9babe;
  color: #003c8c;
  opacity: 1;
  /* Firefox */
}
div.main > .tbBaralhos > footer > div.pagination > button {
  background-color: #fff;
  padding: 2px 10px;
  height: fit-content;
  display: grid;
  align-self: center;
  gap: 0 5px;
  align-items: center;
  outline: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.main > .tbBaralhos > footer > div.pagination > button:hover {
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 61, 140, 0.18);
}
div.main > .tbBaralhos > footer > div.pagination > button:active {
  background-color: #f5f5f5;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
}
div.main > .tbBaralhos > footer > div.pagination > button:focus {
  background-color: #f8f8f8;
  box-shadow: 0px 1px 3px 0px rgba(0, 60, 140, 0.15);
  border: 1px solid rgba(0, 61, 140, 0.28);
}
div.main > .tbBaralhos > footer > div.pagination > button > svg {
  fill: #003d8c;
}/*# sourceMappingURL=table.css.map */